.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4.125rem;
  max-width: calc($max-container-width + 4.25rem);

  &__paragraph {
    margin-top: 0.75rem;
  }

  &__cards {
    width: 100%;
    margin-top: 3.9375rem;
    margin-bottom: 3.6875rem;
    margin-right: -2.125rem;
    margin-left: -2.125rem;

    & > li {
      padding-right: 2.125rem;
      padding-left: 2.125rem;

      @include bp($bp-md) {
        padding-right: 0px;
        padding-left: 0px;
      }

      @include bp($bp-xxl) {
        padding-top: 2.125rem;
        padding-bottom: 2.125rem;

        &:first-child,
        &:nth-child(2) {
          padding-top: 0px;
        }

        &:nth-child(3),
        &:last-child {
          padding-bottom: 0px;
        }
      }

      @include bp($bp-md) {
        &:nth-child(2) {
          padding-top: 2.125rem;
        }

        &:nth-child(3) {
          padding-bottom: 2.125rem;
        }
      }
    }

    & li:last-child .card::after {
      content: none;
    }

    & li:nth-child(2) .card::after {
      @include bp($bp-xxl) {
        top: initial;
        left: 50%;
        bottom: -44px;
        transform: translateY(0%);
        transform: translateX(-50%);
      }
    }

    & li:first-child .card::before {
      @include bp($bp-xxl) {
        content: "";
      }

      @include bp($bp-md) {
        content: none;
      }
    }

    & li:nth-child(3) .card__title {
      padding: 0px 0.875rem;
    }
  }

  &-button {
    padding-right: 0.625rem;

    &__svg-wrapper {
      border-left: 1px solid $color-primary-alt;
      margin-left: 1.25rem;
      padding-left: 0.875rem;
      transition: $transition;
    }

    &:hover &__svg {
      fill: $color-white;
    }

    &:hover &__svg-wrapper {
      border-left: 1px solid $color-white;
    }

    &__svg {
      fill: $color-primary;
      transition: $transition;
      width: 2.375rem;
      height: 2.375rem;
    }
  }
}

.faq {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5.4375rem;

  &__heading {
    margin: 0 $container-padding;
  }

  &__container {
    position: relative;
    z-index: 99;
    justify-content: space-between;
  }

  &__accordion {
    margin-top: 7.5625rem;

    @include bp($bp-xxl) {
      margin-bottom: 3.5rem;
    }
  }

  &__image {
    width: auto;
    max-width: 51.375rem;
    margin-top: -6.875rem;

    @include bp($bp-xxl) {
      display: none;
    }
  }

  &__bg-shape {
    position: relative;
  }

  &__bg-shape::after {
    content: "";
    position: absolute;
    background-color: $color-primary-alt;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    top: 6%;
    left: 0;
    width: 100%;
    height: 94%;

    @include bp($bp-md) {
      clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
      top: 10%;
      height: 90%;
    }
  }

  &__bg-separator {
    background-color: $color-dark;
    height: 5.9375rem;
    width: 100%;
  }
}
