.button {
  background-color: $color-white;
  color: $color-primary;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid $color-primary;
  height: 3.625rem;
  padding: 0px 1.1875rem;
  transition: $transition;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
