body {
  font-family: "Open Sans", sans-serif;
}

.t-heading {
  font-family: "Open Sans", sans-serif;
  color: $color-gray;
  font-size: 2.25rem;
  font-weight: 400;
}

.t-paragraph {
  font-family: "Open Sans", sans-serif;
  color: $color-gray;
  font-size: 1.125rem;
  font-weight: 300;

  &--small {
    font-size: 0.75rem;
  }
}

.t-highlight {
  color: $color-primary;
}
